.site-container{
  text-align: center;
}
html {
  font-size: 14px;
}
.card{
  width:60%;
  height:100%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
body {
  line-height: 1.5;
  color: black;
  margin:0;
} 